<html>
<body>
    <h1>Welcome, <%= username %></h1>
    <a type="button" href="/logout">Logout</a>
    <p>email: <%= email %></p>
    <br>
    <a type="button" href="/password">Change Password</a>
</body>
</html>
